<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="index.css">
<body>
    
        
          <!-- Nav Bar -->
          <nav class="navbar navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="https://pbs.twimg.com/profile_images/413030425611620352/9um18M3a_400x400.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                TECHNOTHLON
              </a>
            </div>
          </nav>
    
    
    
          <!-- Title -->
          <div class="row">
                <div class="col-lg-8 left">
                    <form action="/login" method="POST">
                        <div class="mb-3">
                          <input type="text" class="form-control" name="username" placeholder="username">
                          
                        </div>
                        <div class="mb-3">
                          <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        
                        <button type="submit" class="btn btn-secondary">Submit</button>
                      </form>
                </div>
                <div class="col-lg-4 right">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quam perferendis corrupti veniam cumque, aspernatur ad. Libero, culpa adipisci? Fugiat, quia sit? Accusantium aperiam provident deleniti autem fugiat totam fugit!*2</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quam perferendis corrupti veniam cumque, aspernatur ad. Libero, culpa adipisci? Fugiat, quia sit? Accusantium aperiam provident deleniti autem fugiat totam fugit!*2</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quam perferendis corrupti veniam cumque, aspernatur ad. Libero, culpa adipisci? Fugiat, quia sit? Accusantium aperiam provident deleniti autem fugiat totam fugit!*2</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quam perferendis corrupti veniam cumque, aspernatur ad. Libero, culpa adipisci? Fugiat, quia sit? Accusantium aperiam provident deleniti autem fugiat totam fugit!*2</li>
                        

                    </ul>
                </div>
          
      
    

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</html>